.banner{
	width: 100%;
}
.banner img{
	width: 100%;

}
.main .layout{
	width: 1180px;
	display: flex;
	align-items: flex-start;
	padding-top: 20px;
}
.main .layout>div{
	width: 202px;
}
.main .layout>div>a>img{
	width: 100%;
	margin-top: 20px;
}
.main a{
	color: #000;
}
.main a:hover{
	color: #e13a68;
}
.left{
	width: 200px;
	border:1px solid #dfdfdf;
}
.left .title{
	height: 35px;
	line-height: 35px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: bold;
	background: linear-gradient(to top,#e1e1e1 0%, #fff 30%,#fff 100%)
}
.left .title a{
	color: #e13a68;
}
.left li{
	padding-left: 25px;
	line-height: 30px;
}
.left p{
	height: 35px;
	line-height: 35px;
	background: #f5f5f5;
	font-size: 14px;
	font-weight: bold;
	padding: 0 20px 0 20px;
	border-bottom:1px dashed #d5d5d5;
}

/*right*/
.main .layout .right{
	width: 910px;
	/*height: 450px;*/
	height: auto;
	overflow: hidden;
	padding:20px;
	float: right;
	margin-left: 28px;
	border: 1px solid #dfdfdf;
	border-top: 3px solid #ffc0c1;
}
.right .title{
	height:45px;
	line-height: 45px;
	padding-left: 15px;
	font-weight: bold;
	border-bottom: 1px solid #dfdfdf;
	color:#dd3962;
}
.right li{
	float: left;
	text-align: center;
}
.listTitle li:nth-child(1),
.items li:nth-child(1){width: 200px;}
.listTitle li:nth-child(2),
.items li:nth-child(2){width: 500px;}
.listTitle li:nth-child(3),
.items li:nth-child(3){width: 135px;}

.listTitle{
	height: 40px;
	line-height: 40px;
}
.items{
	background: #f7f7f7;
	overflow: hidden;
	height: 60px;
	padding: 10px 0 5px 0;
	line-height: 50px;
}
.items img{
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.items input{
	border: none;
	background: #f7f7f7;
	cursor: pointer;
}


/*hot*/
.hot{
	height: 265px;
	border:1px solid #dfdfdf;
	width: 898px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.hot span{
	display: inline-block;
	height: 235px;
	width: 50px;
	background: url(../image/user/toLeft.jpg) no-repeat center center;
}
.hot span:last-child{
	background: url(../image/user/toRight.jpg) no-repeat center center;
}
